
@font-face {
    font-family: 'WorkSansMedium';
    src: url('fonts/WorkSans-SemiBold.otf');
    font-weight: normal;
    font-style: normal;
}

html, body, #carte {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background-color: #0e0e39;
  cursor:default;
}

.leaflet-control-container {
  display:none;
}

#debug {
  position: fixed;
  top:30px;
  left:30px;
  width:300px;
  height:300px;
  padding:20px;
  background-color: yellow;
}

#marqueur {
  position: absolute;
  width:20px;
  height:20px;
  background-color:red;
  border-radius:20px;
  z-index:3;
  margin-left:-10px;
  margin-top:-10px;
}

.icone {
  border-radius:10px;
  background-color: #0e0e39;
  border:1px solid white;
}

.icone:hover {
  background-color: yellow;
}

.popup {
  position: absolute;
  top:0px;
  z-index:9999;
  mix-blend-mode: lighten;
  width:100%;
  height:100%;
  background-color: white;
  overflow:hidden;
}

.popup > img {
  position: absolute;
  top:0px;
  transform:translate(-50%, -50%);
  mix-blend-mode: normal;
  cursor: none;
}

.legende {
  position: absolute;
  bottom:30px;
  color: #110d3d;
  width:100%;
  font-family: 'WorkSansMedium';
  font-size:15px;
  line-height:20px;
  text-align:right;
  right:30px;
  z-index:9999;
  cursor: none;
}

@media screen and (max-width: 1200px) {
/*  .image, .texte {
    width:25vw;
    height:20vw;
  }*/
  /*detail {
    width:40vw;
    height:26.6vw;
  }*/
}