
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,300i,400i,500i,700i');

* {
	color: black;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	line-height: 1;
	font-weight: normal;
}

#information {
    
    position: absolute;
    margin-left:900px;
    max-width: 250px;
        
    }

header {
	max-width: 1300px;
	margin: 70px auto 0px auto;
	height: 130px;
	font-size: 30px;
	
}

#active {
	color:#1d0085}

header a {
	margin: 0px 7px;
}

nav {
	font-size: 24px;
	float: right;
}

main {
	min-height: 100%;
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
}

article {
	margin: auto 7px;
}

h1 {
	font-size: 24px;
}

p {

}

.cv1 {
    position: absolute;
    font-weight: 300;
}

.cv2 {
	margin-left: 150px;
	display: block;
}

.cv3 {
	font-weight: 300;
}

figure div {
	position: absolute;
	top: 7px;
	left: 7px;
	height: -moz-calc(100% - 14px);
	width: -moz-calc(100% - 14px);
	height: -webkit-calc(100% - 14px);
	width: -webkit-calc(100% - 14px);
	height: -o-calc(100% - 14px);
	width: -o-calc(100% - 14px);
	height: calc(100% - 14px);
	width: calc(100% - 14px);
	opacity: 0;
	transition: .5s ease;
	background-color: black;
  }



figure div span {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
  }

figure:hover div {
	opacity: 0.6;
  }

footer {
	max-width: 1300px;
	margin: 100px auto 7px auto;
	text-align: center;
	font-size: 12px;
}




/*###############################################CONTACT*/
form {
    padding: 0;
	margin: 130px 0 0 0;
}

::-webkit-input-placeholder {
    color: #888888;
    opacity: 1;
}

::-moz-placeholder {
    color: #888888;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #888888;
    opacity: 1;
}

input:-moz-placeholder {
    color: #888888;
    opacity: 1;
}

input[type=email] {
    display: block;
	box-sizing: border-box;
	max-width: 220px;
	width: 100%;
    height: 25px;
    margin: 0 0 23px 0;
    padding: 2px 4px 2px 4px;
    border: 1px solid #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 9.5pt;
    font-weight: 300;
    color: #222222;
}

    input[type=email]:focus {
        border: 1px solid #222222;
    }

input[name=_subject] {
    display: block;
    box-sizing: border-box;
	max-width: 360px;
	width: 100%;
    height: 25px;
    margin: 0 0 23px 0;
    padding: 2px 4px 2px 4px;
    border: 1px solid #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 9.5pt;
    font-weight: 300;
    color: #222222;
}

    input[name=_subject]:focus {
        border: 1px solid #222222;
    }

textarea[name=message] {
    display: block;
    box-sizing: border-box;
	max-width: 360px;
	width: 100%;
    height: 188px;
    resize: none;
    margin: 0 0 21px 0;
    padding: 2px 4px 2px 4px;
    border: 1px solid #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 9.5pt;
    font-weight: 300;
    color: #222222;
}

    textarea[name=message]:focus {
        border: 1px solid #222222;
    }

input[type=submit] {
    display: block;
    box-sizing: border-box;
    width: 70px;
    height: 35px;
    margin: 15px 0 0 0;
    padding: 0;
    border: 1px solid #222222;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    color: white;
    background-color: #222222;
    text-align: center;
    vertical-align: middle;
}

input:active[type=submit] {
    color: #222222;
    background-color: white;
}

p {
    padding: 0;
    margin: 0 0 6px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    line-height: 14px;
    color: #222222;
}



/* ############################################## GRID */





*, *:after, *:before { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}

body, html { 
	font-size: 100%; 
	padding: 0; 
	margin: 0 30px 0 30px;
	height: -moz-calc(100% - 162px);
	height: -webkit-calc(100% - 162px);
	height: -o-calc(100% - 162px);
	height: calc(100% - 162px);
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }



figure {
	padding: 0;
	margin: 0;
}


.grid {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.grid figure {
	display: block;
	float: left;
	padding: 7px;	        /* Spaltenanzahl */
	width: 25%;				/* Spaltenanzahl */
	opacity: 0;
}

.grid figure.shown,
.no-js .grid figure,
.no-cssanimations .grid figure {
	opacity: 1;
}

.grid figure a,
.grid figure img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}

/* Effect 2: Move Up */
.grid.effect-2 figure.animate {
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}


@media screen and (max-width: 500px) {
	html, body {
		min-width: 100px;
	}
	.grid figure {
		width: 100%;
	}
	body, html { font-size: 100%; padding: 0; margin: 0 15px auto 15px;}
	nav {
		font-size: 24px;
		float: inherit;
		margin-top: 10px;
	}
	.cv1 {
		position: relative;
	}
	.cv2 {
		margin-left: 0;
	}
}


