@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400');

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #222222;
}

body {
    overflow-y: scroll;
    display: flex;
    flex-flow: column;
    align-items: center;
    min-width: 960px; /*Breite an header anpassen (+ ..px)*/
}

a:link {
    color: #222222;
    text-decoration: none;
    outline: none;
}

a:visited {
    color: #222222;
    text-decoration: none;
    outline: none;
}

header {
    display: flex;
    margin-top: 40px;
    float: left;
    font-size: 14pt;
}

nav {
    display: inline-flex;
    float: left;
    margin-left: 4px;
}

    nav a {
        display: block;
    }

    nav div {
        margin-left: 10px;
    }

        nav div div {
            display: block;
            margin-top: 2px;
            margin-left: 0px;
            position: absolute;
            line-height: 14pt;
            font-size: 12pt;
            font-weight: 300;
        }

#active {
    color: #00A9A7;
}

#load {
    position: absolute;
    z-index: 99;
    margin-top: 300px;
}

main {
    margin: 70px 20px 40px 20px;
    flex: none;
}

#front {
    visibility: hidden;
}

#images {
    visibility: hidden;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

#texts {
    width: 617px; /*Breite an header anpassen*/
    padding-top: 8px;
    margin-left: 312px;
    font-size: 12pt;
}

#contact {
    width: 617px; /*Breite an header anpassen*/
    margin-left: 312px;
    padding-top: 12px;
    display: inline-flex;
}

#imagescontainer {
    visibility: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 20px;
    right: 20px;
    overflow-y: hidden;
}

#buttonleft {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: 175px 20px 175px 0px;
    margin-top: 147px;
    z-index: 98;
}

#buttonright {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    padding: 175px 0px 175px 20px;
    margin-top: 147px;
    z-index: 98;
}

main img {
    height: 400px;
}

figure {
    display: none;
    padding: 0;
    margin: 1px;
    padding: 11px 11px 8px 11px;
    outline: 1px solid #ffffff;
}

    figure:hover {
        padding: 11px 11px 8px 11px;
        outline: 1px solid #999999;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

.cv1 {
    position: absolute;
    font-weight: 300;
    font-style: italic;
}

.cv2 {
    margin-left: 150px;
}

.cv3 {
    margin-left: 150px;
    font-weight: 300;
}

.ex1 {
    position: absolute;
}

.ex2 {
    margin-left: 101px;
    font-weight: 700;
}

.ex3 {
}

#contact img {
    display: none;
    margin-top: 2px;
    margin-right: 40px;
}

form {
    padding: 0;
    margin: 0;
}

::-webkit-input-placeholder {
    color: #888888;
    opacity: 1;
}

::-moz-placeholder {
    color: #888888;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #888888;
    opacity: 1;
}

input:-moz-placeholder {
    color: #888888;
    opacity: 1;
}

input[type=email] {
    display: block;
    box-sizing: border-box;
    width: 220px;
    height: 25px;
    margin: 0 0 23px 0;
    padding: 2px 4px 2px 4px;
    border: 1px solid #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 9.5pt;
    font-weight: 300;
    color: #222222;
}

    input[type=email]:focus {
        border: 1px solid #222222;
    }

input[name=_subject] {
    display: block;
    box-sizing: border-box;
    width: 360px;
    height: 25px;
    margin: 0 0 23px 0;
    padding: 2px 4px 2px 4px;
    border: 1px solid #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 9.5pt;
    font-weight: 300;
    color: #222222;
}

    input[name=_subject]:focus {
        border: 1px solid #222222;
    }

textarea[name=message] {
    display: block;
    box-sizing: border-box;
    width: 360px;
    height: 188px;
    resize: none;
    margin: 0 0 21px 0;
    padding: 2px 4px 2px 4px;
    border: 1px solid #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 9.5pt;
    font-weight: 300;
    color: #222222;
}

    textarea[name=message]:focus {
        border: 1px solid #222222;
    }

input[type=submit] {
    display: block;
    box-sizing: border-box;
    width: 70px;
    height: 35px;
    margin: 15px 0 0 0;
    padding: 0;
    border: 1px solid #222222;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    color: white;
    background-color: #222222;
    text-align: center;
    vertical-align: middle;
}

input:active[type=submit] {
    color: #222222;
    background-color: white;
}

p {
    padding: 0;
    margin: 0 0 6px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    line-height: 14px;
    color: #222222;
}

#sent {
    margin-top: 150px;
}

footer {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
}

    footer div {
        display: inline-flex;
        justify-content: flex-end;
        padding-bottom: 5px;
        padding-right: 20px;
        font-size: 8pt;
    }

#noscript {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    font-size: 11pt;
    text-align: center;
    padding-top: 160px;
    z-index: 99999;
}





/**********LIGHTBOX START**********/
body:after {
    content: url(img/prev.png) url(img/next.png);
    display: none;
}

body.lb-disable-scrolling {
    overflow: hidden;
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.9;
    display: none;
}

.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    line-height: 0;
}

    .lightbox .lb-image {
        display: block;
        height: auto;
        max-width: inherit;
        max-height: none;
    }

.lb-outerContainer {
    position: relative;
    *zoom: 1;
    margin: 0 auto;
    background-color: white;
    border: 11px solid white;
    border-bottom: 27px solid white;
}

    .lb-outerContainer:after {
        content: "";
        display: table;
        clear: both;
    }

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: auto;
}

.lb-container > .nav {
    left: 0;
}

.lb-nav a {
    outline: none;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}

.lb-nav a.lb-prev {
    width: 34%;
    float: left;
    background: url(img/prev.png) left 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

    .lb-nav a.lb-prev:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

.lb-nav a.lb-next {
    width: 64%;
    float: right;
    background: url(img/next.png) right 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

    .lb-nav a.lb-next:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

.lb-dataContainer {
    margin: -14px auto auto auto;
    *zoom: 1;
    width: 100%;
}

    .lb-dataContainer:after {
        content: "";
        display: table;
        clear: both;
    }

.lb-data {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 0);
    opacity: 0.9999;
}

    .lb-data .lb-details {
        width: 85%;
        float: left;
        text-align: left;
    }

    .lb-data .lb-caption {
        font-size: 8pt;
        font-family: 'Roboto', sans-serif;
        color: #222222;
        display: block;
        float: left;
    }

.lb-number {
    display: block;
}


/**********LIGHTBOX END**********/



